$CM: #FF655E; // 车商城主题色
$CA1:#0055FF; // 标准蓝
$CA1-P: #0044DD; // 标准蓝-按下
$CA3:#FE4A3B; // 警告
$CA4:#00CC88; // 降价
$CB1:#000000; // 深色/蒙层
$CB2:#111E36; // 主要/标题
$CB3:#666D7F; // 次要
$CB4:#C5CAD4; // 置灰
$CB5:#E6EBF5; // 置灰/线框
$CB6:#F1F3F6; // 分隔线
$CB7:#F8F9FC; // 背景
$CB8:#FFFFFF; // 白色

// 其他颜色自行增加