// 数字字体
$numFamily: 'DIN Alternate';

// 字体大小 SIZE-LEVEL-XXX
$SL1: 30px; // 页面大标题
$SL2: 26px; // 导航选中态
$SL3: 22px; // 大标题等重要标题类文字
$SL4: 18px; // 卡片主标题、文章正文文字
$SL5: 16px; // 用于导航栏，按钮等大多数操作类或标题类文字
$SL6: 14px; // 用于小标题或多数次级文字
$SL7: 12px; // 多数辅助信息文字
$SL8: 11px; // 辅助信息文字